<header>
<div id="header-img" style="background-color: #111e7a; min-width: 337px; width: 100%; height: 87px;">
    <div style="float:left; width: 337px; height: 87px;">
        <img src="http://prezydent2000.pkw.gov.pl/i/l.gif"/>
    </div>
    <div style="background-color: #ffffff; width: auto; height: 87px; overflow: hidden;">
        <div style="width:inherit; height: 67px; background-color: #111e7a"></div>
        <div style="width:inherit; height: 5px; margin-top: 5px; margin-bottom: 5px; background-color: red"></div>
    </div>
</div>
</header>