{% extends "base.html" %}
{% block navigation %}
    <nav>
    <div id="nav-tree">
        {% for item in nav %}
            <a href="{{ item.1 }}">{{ item.0 }}</a>
            {% if loop.index < nav|length %}
                ->
            {% endif %}
        {% endfor %}
    </div>
    <div id="nav-children">
        {% for k,v in my_dict.items() %}
            <a href="{{ v }}">{{ k }}</a>
        {% endfor %}
    </div>
    </nav>
{% endblock navigation %}

{% block results %}
    <section class="results">
        <div class="results-table-container">
            <table class="results-table">
                <tr>
                    <th>Kandydat</th>
                    <th>Liczba ważnych oddanych głosów</th>
                    <th colspan="2">Procentowa liczba ważnych oddanych głosów</th>
                </tr>
                {% set sorted_vote_counts = result_set|map(attribute='1')|sort(reverse=True)|list %}
                {% for (candidate, vote_count, vote_perc) in result_set %}
                    <tr>
                        <td>{{ candidate }}</td>
                        <td>{{ vote_count }}</td>
                        <td>{{ '{:.1%}'.format(vote_perc) }}</td>
                        <td>
                            <div class="
                                vote-perc-bar
                                {% if vote_count > 0 and vote_count == sorted_vote_counts[0] %}
                                vote-perc-bar-winner
                                {% endif %}
                                {% if vote_count > 0 and vote_count == sorted_vote_counts[1] %}
                                vote-perc-bar-2nd-best
                                {% endif %}
                                "
                                 style="width: {{ '{:.1%}'.format(vote_perc) }}"
                            ></div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
{% endblock %}
