{% extends "base.html" %}
{% block navigation %}
    <nav>
    <div id="nav-tree">
        {% for item in nav %}
            <a href="{{ item.1 }}">{{ item.0 }}</a>
            {% if loop.index < nav|length %}
                ->
            {% endif %}
        {% endfor %}
    </div>
    <div id="nav-children">
        {% for k,v in my_dict.items() %}
            <a href="{{ v }}">{{ k }}</a>
        {% endfor %}
    </div>
    </nav>
{% endblock navigation %}

{% block results %}
    <div class="results">
        <table class="results-table">
            <tr>
                <th>Kandydat</th>
                <th>Liczba ważnych oddanych głosów</th>
                <th>Procentowa liczba ważnych oddanych głosów</th>
            </tr>
            {% for (candidate, vote_count, vote_perc) in result_set %}
                <tr>
                    <td>{{ candidate }}</td>
                    <td>{{ vote_count }}</td>
                    <td>{{ '{:.1%}'.format(vote_perc) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
